<div class="container">
  <form class="form" [formGroup]="formGroup">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Nombre</label>
            <input
              type="text"
              name="name"
              formControlName="name"
              required
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Comentario</label>
            <input
              type="text"
              name="claim"
              formControlName="claim"
              required
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-12 mt-2">
          <div class="form-group">
            <button
              (click)="send()"
              [disabled]="formGroup.invalid"
              class="btn btn-success pull-right"
            >
              Enviar
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ngb-alert class="mt-2" *ngIf="isSaved">
    Datos guardados en almacenamiento
  </ngb-alert>

  <pre>
    {{ formDataInStorage | json }}
  </pre>
</div>
